.action {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.action.inactive {
	color: gray;
}

.action:hover {
	background: rgba(0,0,0,0.1);
	cursor: pointer;
}

.action.inactive:hover {
	background: white;
	cursor: default;
}

.action__description {
	margin-left: 5px;
	font-size: 12px;
	font-style: italic;
}