.character {
	display: flex;
	justify-content: flex-start;
	align-items: top;
	width: 350px;
	border: 2px solid brown;
	flex-direction: column;
	text-align: center;
}

.character__name {
	width: 100%;
	margin: 5px 0;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center
}